html,
body {
  font-size: 16px;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;


  border: dotted 1px black;
}


/*Header*/
header {
  display: flex;
  align-items: center;
  height: 4rem;
  font-family: "work sans", helvetica, sans-serif;
  background-color: white;
}

header .logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

header .logo img {
  width: 2.5rem;
}

header .logo span {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: ;
}

header .logo #green {
  color: rgba(19, 122, 29, .8);
}

header ul li {
  display: inline-flex;
  margin: 0 .5rem;
}


/*Banner*/
.banner {
  background-color: rgba(0, 0, 0, 0.1);
}


/*Banner Left Side*/
.banner .left {
  width: 60%;
}

.banner .left img {
  margin: 2rem 0;
  width: 100%;
}


/*Banner Right Side*/
.banner .right {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  padding: 2rem 1.5rem;
  font-family: "work sans", helvetica, sans-serif;
  color: rgb(19, 122, 29);
}

.banner .right h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.banner .right p {
  padding: 2rem 0;
  font-size: 1.3rem;
  font-weight: 500;
}

.banner .right button {
  font-size: 1.1rem;
  padding: .6rem 0;
  border: none;
  background-color: rgb(19, 122, 29);
  color: white;
  width: 80%;
}


/*Information Section*/
.information {
  color: rgb(19, 122, 29);
  font-family: "work sans", helvetica, sans-serif;
}


/*Information Left Side*/
.information .left {
  width: 60%;
  margin: 2rem 0;

  border: dotted 1px blue;
}

.information .left img {
  width: 100%;
}

.information .left h1 {
  font-size: 2rem;
  font-weight: 700;
  padding-top: 2rem;
}

.information .left p {
  font-size: 0.9rem;
  padding-top: 1.5rem;
  width: 96%;
}

.information .left p:last-child {
  color: black;
}


/*Information Right Side*/
.information .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin: 2rem 1.5rem;
}

.information .right .feature {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  border: solid 1px rgba(0, 0, 0, 0.1);
}

.information .right .feature .img {
  width: 35%;
  height: auto;
  padding: 1rem;

}

.information .right .feature .img img {
  width: 100%;
}

.information .right .feature .content {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.information .right .feature .content h3 {
  font-size: 1.1rem;
  font-weight: bold;
}

.information .right .feature .content span {
  font-size: .8rem;
  padding: .6rem 0;
}

.information .right .feature .content a {
  text-decoration: none;
  color: rgba(0, 0, 255, 1.0);
  font-size: .9rem;
}

.information .right #lecture {
  background-color: rgba(0, 0, 0, 0.1);
}


/*Start Learning*/
.learning {
  color: rgb(19, 122, 29);
  font-family: "work sans", helvetica, sans-serif;
}

.learning .title h1 {
  font-size: 1.7rem;
  font-weight: 700;
}
