html,
body {
  font-size: 16px;
}

/*Header*/
header {
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 0 1.5rem;
  font-family: "work sans", helvetica, sans-serif;
  background-color: white;
}

header .header-div {
  display: flex;
  align-items: center;
}

header span {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

header #green {
  color: rgba(90, 215, 100, 1.0);
}

header nav {
  position: absolute;
  right: 1.5rem;
}

header ul li {
  display: inline-flex;
  margin: 0 .5rem;
}

/*Banner*/
.banner {
  display: flex;
  align-items: center;
  font-family: "work sans", helvetica, sans-serif;
  font-weight: bold;
  color: rgba(100, 140, 150, 1);
  background-color: rgba(0, 0, 0, .1);
}

.banner img {
  margin: 2rem 1.5rem;
}

.banner .banner-right {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: left;
  margin: 0 24px;
  text-align: left;
}

.banner .banner-right h1 {
  font-size: 3.5rem;
  font-weight: bold;
  margin: 1rem 0;
  line-height: 3.5rem;
}

.banner .banner-right p {
  font-size: 1.5rem;
  margin: 1rem 0;
  line-height: 1.8rem;
}

.banner .banner-right button {
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  font-weight: 600;
  font-size: 1.2rem;
  background-color: rgba(100, 140, 150, 1);
  color: white;
  border: none;
}

/*Information Section*/
.information {
  display: flex;
  font-family: "work sans", helvetica, sans-serif;
}

.information .information-sub {
  margin: 2rem 1.5rem;
}

.information .sub-information {
  display: flex;
}

.information #left {
  width: 60%;
  border-right: solid 1px black;
}

.information #right {
  width: 40%;
}

.information .sub-information img {
  width: 35%;
  height: auto;
  margin: 1rem;
}

.information .sub-information .content {
  display: flex;
  flex-flow: column;
  width: 65%;
  justify-content: center;
  line-height: 1.5rem;
}

.information .sub-information .content h3 {
  font-size: 1.2rem;
  font-weight: 500;
}
