html {

}


/*Header*/
header {
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 0 24px;
  background-color: white;
  font-family: helvetica, sans-serif;
  border-bottom: solid 1px black;
}

header span {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
}

header #green {
  color: rgba(90, 215, 100, 1.0);
}

header ul {
  display: flex;
}

header ul li {
  margin: 0 1rem;
}

/*Banner*/
.banner {
  display: flex;
  align-items: center;
  padding: 2rem 1.5rem;
  font-family: helvetica, sans-serif;
  border-bottom: solid 1px black;
  color: rgba(100, 140, 100, 1);
  font-weight: bold;

}

.banner img {
  padding: 0 12px;
  width: 60%;
  height: 40rem;
}

.banner .banner-right {
  padding: 0 24px;
  text-align: left;
}

.banner .banner-right h1 {
  font-size: 2.5rem;
  padding: 1rem 0;
}

.banner .banner-right p {
  padding: 1rem 0;
}

.banner .banner-right button {
  width: 100%;
  padding: .5rem;
  font-weight: 600;
  background-color: rgba(100, 140, 100, 1);
  color: white;
  border: none;
}

/*Information Section*/
.information {
  padding: 2rem 1.5rem;
}

.information img {
  padding: 0 12px;
  width: 60%;
}
